*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alerta-cupom {
    background-color: black;
    padding: 10px 0 ;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;

}

.alerta-cupom p {
    text-align: center;
    font-family: 'amatic sc';
    font-size: 15px;
}

.alerta-cupom i {
    position: absolute;
    right: 10px;
    cursor: pointer;
    }

.header {
    background-image:url(https://static.wildsouls.gr/app/uploads/2021/02/wildSoulsHero-Image-1.jpg);
    background-size: 100%; 
    height: 550px;
    }

.navigation {
     display: flex;
}

.navigation-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 42.5%;
    height: min-content;
    border-bottom: 1.5px solid black;
    padding: 30px 0;
    padding-left: 30px;
}    

.navigation-links a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    position: relative;
} 
.navigation-links a:hover::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: black;
    bottom: -5px;
    left: 0;

}



.navigation-links.left{
    padding-left: 30px;
}

.navigation-logo {
    display: flex;
    justify-content: center;
    width: 15%;
    padding-top: 20px;
}

.navigation-links.right{
    padding-right: 30px;
}

.title {
    color: black;
    text-align: center;
    font-family: 'Indie Flower';
    font-size: 60px;
    text-transform: uppercase;
}

.sub-title {
    font-size: 25px;
    text-transform: unset!important;
}

.new-section {
    background-color: rgb(190, 90, 75);
    background-size: 100%;  
    display: flex;
    flex-direction: column;
}

.news-icon{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    align-items: flex-end;
}

.news-icon-capsule{
    background-color: black;
    border-radius: 100px;
    padding: 30px;
    margin-right: 100px;
}



.titulo-headerb {
    color: black;
    text-align: right; 
}

.wpp {
    background-color: rgb(30, 112, 85);
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 15px;
    border-radius: 80px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.news-text-container{
    width: 60%;
    display: flex;
    align-items: flex-end;

    
}
.news-text{
    width: 70%;
    margin-left: 80px;
}


.h2{
    font-size: 85px;
    font-family:'Playfair Display SC';
    
}

.p{
    font-family: 'Cormorant';
    font-size: 17px;

}

.row{
    display: flex;
    height: 400px;
}

.produtos{
  padding-top: 100px;
  display: flex;
  height: 840px;
  justify-content: center;
}



.produto{
    display: flex;
    flex-direction: column;
    padding:0 30px ;
}

.photo-produto{
    display: flex;
    padding: 40px 45px;
    border-radius: 400px;
    background-color:rgb(200, 173, 226);
    max-width: 300px;
    overflow-x: hidden;
    justify-content: center;
    
}

.text-product{
    position: relative;
    bottom: 50px;
    left: 5px;
}


.product-title{
    font-size: 30px;
    font-family: 'Abril Fatface'
}

.shop-product-bottom{
    cursor: pointer;
    background-color:rgb(200, 173, 226);
    padding: 20px 30px;
    border-radius: 50px;
    margin-top: 15px;
    border: none;
    font-family:'Cormorant' ;
}


.photo-produto img{
    height: 400px;

    
}

.up{
    background-color: black;
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 60px;
    border-radius: 80px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size:15px;
    color: white;

}

/* backgrounds auxiliares*/

.bg-purple{
    background-color:rgb(200, 173, 226);
}

.bg-green{
    background-color: #7CA7A5;
}

.bg-yellow{
    background-color:#fff7b0; 
}

.produto.down{
    align-self: flex-end;
}

.manifesto{
    background-color: rgb(190, 90, 75);
    padding: 60px;
    display:flex;
}


.manifesto-container-text{
   height: 500px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
} 

.title-m{
    font-size: 40px;
    font-family: 'Playfair Display';
    font-weight: bolder;
}

.text-m{
    font-family:'cormorant' ;
    font-size: 17px;
    width: 75%;
}


.text-m a{
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 70px;
    padding: 1rem 2rem;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
}

.manifesto-photo{
    width: 40%;
    display: flex;
    justify-content: center;
}

.photo{
    background-image: url(./asset/images/mao.jpeg);
    background-size: 100%;
    width: 450px;
    height: 500px;
    position: relative;
    z-index: 2;
}

.photo.cricket{
    position: absolute;
}

.photo.cricket.right{
    transform: rotate(20deg);
    z-index:1;
}

.photo.cricket.left{
    transform: rotate(-20deg);
    z-index: 3;
}




